// Specific CSS for your home-page

body {

  justify-content: center;
  align-items: center;
  height: 100%; /* Make sure the body takes up the full viewport height */

}

.image-box{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 80px 55px 0px 55px;
}

.box{

  background-color: #E2E2E2;
  box-shadow: 4px 4px 0px 0px var(--BACKGROUND-SECONDARY-PINK);
  border-radius: 30px;
  color:#0c0c0c;
      margin: 0 auto;
  width: 370px;
  height: 260px;
  flex-shrink: 0;

  display: flex;
  justify-content: center;



}

.buttons-center{
   display: flex;
    align-content: center;
    justify-content: space-evenly;



}
.logo-text{
  color: #E2E2E2;
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  justify-content: center;
  font-weight: 600;
  // padding: 28px 44px 28px 44px;
  padding:15px 44px 71px 44px
}

.black-text{
  color: #000;
text-align: center;
font-family: 'IBM Plex Mono', monospace;
font-size: 20px;
font-weight: 400;
padding: 53px 53px 32px 53px;


}
