.top-center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;

  .avatar-largest {
    align-items: center;
    margin-bottom: 15px;
  }

  .h2 {
    align-items: center;
  }
}



.user-name{
  color:var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -0.084px;
  text-transform: capitalize;


}

.custom-link {
  text-decoration: none; /* Remove underline */

  /* Add any other custom styling you want here */
}

.filtering {
  display: flex;
  justify-content: space-between;
  align-content: center;

  .d-flex {
    margin-left: 10px;
    margin-top: 10px;
  }
  .form-control {
    background-color: black;
    border-color: $red;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
  }

  .border-1 {
    margin-right: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.profile-filter{
  display: flex;
  justify-content: space-between;
}

.favourite-form {
  .d-flex {
    margin-top: 10px;
    align-content: center;
  }
  .form-control {
    background-color: black;
    border-color: $green;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
  }

  .border-1 {
    margin-right: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
  }
}

.name-div {
  display: flex;
  align-items: center;

  i {
    margin-left: 20px;
    margin-bottom: 17px;
    font-size: 20px;
  }
}

.logout-button {
  margin-left: 320px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.parent{
  position: relative;
}

.child {
  position: absolute;
  bottom: 25px;
  right:15%;
  background-color: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 10px;
}
