.top-center-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;

  .avatar-largest {
    align-items: center;
    margin-bottom: 15px;
  }

  .h2 {
    align-items: center;
  }
}



.user-name{
  color:var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: -0.084px;
  text-transform: capitalize;


}

.custom-link {
  text-decoration: none; /* Remove underline */

  /* Add any other custom styling you want here */
}

.filtering {
  display: flex;
  justify-content: space-between;

  .d-flex {
    margin-left: 10px;
    margin-top: 10px;
  }
  .form-control {
    background-color: black;
    border-color: $red;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    color: white;
  }

  .border-1 {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}
