<div class="page-container-notification ">
<div class="center-align">
  <% if current_user %>
  <%# <div class="no-notifications" style="color: ; background: orange"> %>
    <% if @unread.count <= 0 && @read.count <=0 %>
      <div class="no-notifications" style="color: ;">
        <h3 class="notifications-text">You have no Notifications</h3>
      </div>
    <% else %>
      <div class="no-notifications" style="color: ;">

        <h3 class="notifications-text">Unread Notifications</h3>
        <% if @unread.count <= 0 %>
          <h4 class="">You have no new notifications</h4>
        <% else%>
          <ul>
            <% @unread.each do |notification| %>
              <li><i class="fa-regular fa-bell mx-3" style="color: ;"></i><%= link_to notification.to_notification.message, notification.to_notification.url, data: {turbo: false} %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="yes-notifications" style="color: ; ">
        <h3 class="mt-3">Read Notifications</h3>
        <ul>

          <% @read.each do |notification| %>
            <li><i class="fa-solid fa-check mx-3 " style="color: ;"></i><%= link_to notification.to_notification.message, notification.to_notification.url, data: {turbo: false} %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
