<div class="pink-div">
  <div class="content">
    <div class="edit-title">Edit</div>
    <div class="edit-body">
      <div class="song-link-div"></div>
      <div class="caption-div"></div>
    </div>
  </div>
</div>

<%#  <%= render 'shared/edit_card',  post: post %>
