<div class="footer">

  <%= image_tag "logo.svg" %>
  <%= link_to "friends", "#", class: "medium-button-green" %>
  <%= link_to "charts", "#", class: "medium-button-blue-pink" %>
  <%= image_tag current_user.photo unless current_user.nil? %>

</div>
