<div class="container">
  <div data-controller="chart" data-chart-labels-value="<%= @genre_labels%>" data-chart-data-value="<%= @genre_data%>">
    <h3 class="text-light text-center mt-4">Top Genres</h3>
    <canvas data-chart-target="genre" width="400" height="400" Chart.defaults.color ="#0000" ></canvas>
  </div>

    <div data-controller="artist" data-artist-labels-value="<%= @song_labels%>" data-artist-data-value="<%= @song_data%>">
    <h3 class="text-light text-center mt-4">Top Songs</h3>
    <canvas data-artist-target="artist" width="400" height="400" ></canvas>
  </div>

</div>
