<div class="container">
  <h2 class="text-light text-center">Charts</h2>
  <div data-controller="chart" data-chart-labels-value="<%= @genre_labels%>" data-chart-data-value="<%= @genre_data%>">
    <canvas id="myChart" width="400" height="400" data-target="chart.chartCanvas"></canvas>
  </div>
</div>
