 <div class="d-none mt-3 container" data-friends-target="followers">
  <h2>My Followers</h2>
    <div>
      <% @myfollowers.each do |follower| %>
      <div class="d-flex mb-3">
        <div class="flex-grow-1">
          <div class="d-flex">
            <div class="av">
              <%= cl_image_tag follower.followee.photo.key, class: "avatar-bordered" %>
            </div>
            <div class="names mx-2 text-white">
              <%= follower.followee.first_name %>
              <%= follower.followee.last_name %> <br>
              <%= follower.followee.username %>
            </div>
          </div>
        </div>
        <div>
          <a href="#" class="small-button-pink mx-2" data-friends-target="nudge" data-action="click->friends#nudge">nudge?</a>
        </div>
      </div>
      <% end %>
    </div>
</div>
