<div class="d-flex m-4">
<% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, class: "avatar-bordered" %>
<% else %>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar" class="me-2 avatar-bordered">
<% end %>
  <h3 class="mx-3 text-white"><%= @user.username %></h3>
</div>
<div class="friend-options">
  <div class="d-flex justify-content-around">
    <button class="medium-button-green" data-action="click->friends#showSuggestions" data-friends-target="suggestionButton">suggestions</button>
    <button class="medium-button-white" data-action="click->friends#showFriends" data-friends-target="friendsButton">friends</button>
    <button class="medium-button-white" data-action="click->friends#showRequests" data-friends-target="requestsButton">requests</button>
  </div>
</div>
