
<div data-controller="friends">
  <%= render partial: "top" %>
  <%# SUGGESTIONS %>
  <%= render partial: "suggestions" %>

  <%# MY FRIENDS %>
 <%= render partial: "followers" %>

  <%# REQUESTS %>
 <%= render partial: "requests" %>

</div>
