
<div class="container text-center mt-5">
  <h1>Wavelength</h1>
  <p>The new way to share music</p>
  <% if current_user %>
  <%= link_to "Post a song", new_post_path, class: "big-button-pink" %>
  <% else %>
  <%= link_to "Login", new_user_session_path, class: "medium-button-green" %>
  <%= link_to "Sign up", new_user_registration_path, class: "medium-button-green"%>
  <% end %>
</div>
