<div class="container">
  <h1>My Feed</h1>
    <% @posts.each do |post| %>
      <div class="post">
        <%= post.song_name %>
      </div>
    <% end %>
    <% @myposts.each do |post| %>
    <div class="post">
      <%= post.song_name %>
    </div>
    <% end %>

</div>
