<div class="container">
  <p class="text-center">Today's Feed</p>

  <% if current_user.posts.where(post_date: Date.today).any? %>
    <% @allposts.each do |post| %>
      <%= render "post", post: post   %>
    <% end %>
  <% else %>
    <div class="d-flex align-items-center">
      <div class="box">
        <div class="inner-box">
          <h3 class ="black-text">You cannot access the feed without posting a song for the day</h3>
          <div class="buttons-center">
            <%= link_to "Post a Song", new_post_path, class: "big-button-pink" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<style>


.text-center{
  margin: 5%;
  color: var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 28px;


}
</style>
