<div class="container">
  <p class="text-center">My Feed</p>

  <% @posts.each do |post| %>
    <%= render "post", post: post   %>

  <% end %>
  <% @myposts.each do |post| %>
    <%= render "post", post: post   %>
  <% end %>

</div>

<style>


.text-center{
  margin: 5%;
  color: var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 28px;


}
</style>
