<div class="container">
  <h1 class="text-center">My Feed</h1>

  <% @posts.each do |post| %>
    <%= render "post", post: post   %>

  <% end %>
  <% @myposts.each do |post| %>
    <%= render "post", post: post   %>
      <%= link_to "edit post", edit_post_path(post) %>
  <% end %>

</div>
