<div class="container">
  <h1 class="mt-5 mb-4">Post a song for the day</h1>
  <%= simple_form_for [@post] do |f| %>
    <%= f.input :link %>
    <%= f.input :caption %>
    <%= f.submit class: "btn btn-outline-info border-1"%>
  <% end %>

</div>
