.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 3px 3px 0px rgb#000;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 3px 3px 0px rgb#000;
}

.avatar-largest {
  width: 91px;
  height:91px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
