/* Add this CSS to your stylesheet */
.bookmark-form {
  display: inline; /* Display the form as inline */
  margin: 0; /* Remove margin to eliminate spacing */
}

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Remove padding to adjust button size */

}

.bookmark-button i {
  font-size: 1.5rem; /* Adjust icon size */
  color: #f2eeee; /* Set desired icon color */
}
