.comments-wrapper {
  width: 100%;
  height: auto;
  // height: 383px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  // box-shadow: 3px 4px 0px 0px #BF2C71;
  transform: translate(0px, -45px);
  color: var(--BACKGROUND-PRIMARY-TEXT);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
  top: -15px;
  padding: 40px 0 20px
}

.pink-bg {
  background: var(--BACKGROUND-SECONDARY-PINK);
}

.green-bg {
  background: var(--BACKGROUND-SECONDARY-GREEN);
}

.content {
  // border:solid 1px white;
  width: 88.71%;
  // height: 170px;
  display: flex;
  flex-direction: column;

}

.comments-body {
  padding: 0px 10px 0px 10px;
}

.comments-title {
  color: var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.094px;
  font-style: normal;
  line-height: normal;
  margin-top: 10px;
  text-align: center;
}

.white-bar {
  background-color: var(--BACKGROUND-PRIMARY-TEXT);
  width: 100%;
  align-self: center;
  height: 31px;
  border-radius: 30px;
  box-shadow: 4px 4px 0px 0px var(--BACKGROUND-PRIMARY-COLOR);
  color: black;
  margin-top: 13px;

  input:focus {
    border-color: var(--BACKGROUND-PRIMARY-TEXT);
    outline: 0;
    box-shadow: none;
    --bs-btn-padding-x: 1rem !important;
    --bs-btn-padding-y: 0px !important;
  }

  i {
    color: var(--BACKGROUND-PRIMARY-COLOR);
    font-size: 22px;
    display: flex;
    justify-content: end;
  }
}

.friend-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  overflow-y: scroll;
}

.collapsed {
  height: 0;
}

.expanded {
  height: 110px;
}

.single-comment {
  width: 100%;
  display: flex;
  margin-top: 5px;
  word-break: break-all;

  img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-right: 9px;
    box-shadow: 3px 3px 0px var(--BACKGROUND-PRIMARY-COLOR);
  }

  span {
    color: var(--BACKGROUND-PRIMARY-TEXT);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 300;

  }
}
