.pink-edit {
  width: 100%;
  // height: 214px;
  flex-shrink: 0;
  border-radius: 0px 0px 30px 30px;
  background: var(--BACKGROUND-SECONDARY-PINK);
  color: var(--BACKGROUND-PRIMARY-TEXT);
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  z-index: 1;
  position: relative;
  top: -10px;
  transform: translate(3px, -45px);

}

.content-edit {
  width: 88.71%;
  // height:180px;
  display: flex;
  flex-direction: column;
}

.edit-title {
  margin-top: 40px;
  height: 27px;
  // border:solid 1px white;
  color: var(--BACKGROUND-PRIMARY-TEXT);
  font-family: 'IBM Plex Mono', monospace;
  font-size: 23px;
  font-weight: 400;
  letter-spacing: -0.094px;
  font-style: normal;
  line-height: normal;
}

.edit-body {
  // height: 162px;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin-top: 13px;
  }
}

.song-link-div {
  background-color: var(--BACKGROUND-PRIMARY-TEXT);
  width: 100%;
  align-self: center;
  height: 31px;
  border-radius: 30px;
  box-shadow: 4px 4px 0px 0px var(--BACKGROUND-PRIMARY-COLOR);
  color: black;
  margin-top: 13px;
}

.caption-div {
  background-color: var(--BACKGROUND-PRIMARY-TEXT);
  width: 100%;
  align-self: center;
  height: 69px;
  border-radius: 25px;
  box-shadow: 4px 4px 0px 0px var(--BACKGROUND-PRIMARY-COLOR);
  color: black;
  margin-top: 13px;
}
