.footer{
  z-index: 10;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  flex-shrink: 0;
  border: 5px solid #000;
  position: fixed;
  bottom: 0;
  padding-left: 17px;
  padding-right: 17px;
  img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  a{
    margin-bottom: 3px;
  }

  .fa-chart-simple{
    color: var(--BACKGROUND-PRIMARY-TEXT);
    font-size: 28px;
  }
  .fa-user-group{
    color: var(--BACKGROUND-PRIMARY-TEXT);
    font-size: 24px;
  }
}
