.mini-card {
  width: 105px;
  height: 152px;
<<<<<<< HEAD
=======
  margin-right: 0px;
>>>>>>> b2eee5b1cdee002bd3a6e7698af261bf58075de0

  img {
    width: 105px;
    height: 109px;
    border-radius: 14px;
  }
  span {
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 700;
  }
  p {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
  }
  .description-div {
    width: 105px;
    height: 43px;
    color: var(--BACKGROUND-PRIMARY-TEXT);
  }
}
