.mini-card{
  width: 105px;
  height: 152px;
  // color:black;
 .img-div{
  width: 105px;
  height: 109px;
  // background-color: blue;
  border-radius: 14px;
 }
 .description-div{
  width: 105px;
  height: 43px;
  // background-color: green;
 }
}
