.post {
  height: 383px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  position: relative;

  .album-artwork {
    width: 100%;
    border-radius: 30px;
  }
}

.current-user-post {
  flex-shrink: 0;
  border-radius: 40px;
  border: 0px solid #61A54E;
  background: #030F00;
  box-shadow: 3px 3px 0px 0px #61A54E;
}

.other-user-post {
  border: 0px solid #BF2C71;
  background: #0E0006;
  box-shadow: 3px 3px 0px 0px #BF2C71;
}


.post-top {
  // position: absolute;
  // top: 5%;
  // left: 5%;

}

.username {
  padding-left: 7px;
}

.album-artwork {
  background-color: blue;
  height: 200px;
  width: 250px;
  border-radius: 4px;
  margin: 5px;
}

h3 {
  color: var(--BACKGROUND-PRIMARY-TEXT);
  font-family: monsarat;
}

.song-info {
  width: 100%;
  color: var(--BACKGROUND-PRIMARY-TEXT)
}

.song-body-info {
  padding-top: 9px;
}


#message-icon {
  color: #ffffff;
  position: absolute;
  top: 247px;
  right: 288px;
  font-size: 25px;
}

#heart-icon {
  color: #fafcff;
  position: absolute;
  top: 246px;
  right: 326px;
  font-size: 25px;
}

#save-icon {
  color: #fafcff;
  position: absolute;
  top: 246px;
  right: 19px;
  font-size: 25px;
}

#edit-icon {
  color: #fafcff;
  position: absolute;
  top: 288px;
  right: 15px;
  font-size: 25px;
}
