.post {
  height: 383px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;

  position: relative;

  .album-artwork {
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
  }

  h3 {
    margin-bottom: 0.3rem;
  }
}

.current-user-post {
  border: 0px solid #BF2C71;
  background: #0E0006;
  box-shadow: 3px 3px 0px 0px #BF2C71;
  color: white;
}

.other-user-post {
  flex-shrink: 0;
  border-radius: 40px;
  border: 0px solid #61A54E;
  background: #030F00;
  box-shadow: 3px 3px 0px 0px #61A54E;
  color: white;
}

.username {
  padding-left: 7px;
}

.album-artwork {
  background-color: blue;
  height: 200px;
  width: 250px;
  border-radius: 4px;
  margin: 5px;
}



// here is the way we call the two fonts i have imported for the project
//font-family: 'IBM Plex Mono', monospace;
// font-family: 'Montserrat', sans-serif;  body
h3 {
  color: white;
  font-family: 'IBM Plex Mono', monospace;
}

h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.song-info {
  width: 100%;
  color: var(--BACKGROUND-PRIMARY-TEXT)
}

.song-body-info {
  padding-top: 9px;
}

.offset-song-icons {
  position: absolute;
  bottom: -7px;


}


.offset-icon {
  color: #ffffff;
  // position: absolute;
  // bottom: 0px;
  // right: 288px;
  font-size: 25px;
  // box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.3);
  filter: drop-shadow(2px -3px 3px rgb(51, 51, 51));
}

#heart-icon {
  color: #fafcff;
  // position: absolute;
  // top: 246px;
  // right: 326px;
  font-size: 25px;
}

#save-icon {
  color: #fafcff;
  // position: absolute;
  // top: 246px;
  // right: 19px;
  font-size: 25px;
}

#edit-icon {
  color: #fafcff;
  // position: absolute;
  // top: 288px;
  // right: 15px;
  font-size: 25px;
}
