.title-and-filter {
  .profile-title {
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.094px;
  }
}
