:root{
  --BACKGROUND-PRIMARY-COLOR: #0C0C0C;
  --BACKGROUND-PRIMARY-TEXT: #FFF;
  --BACKGROUND-PRIMARY-EMPHASIS: #040DBF;
  --BACKGROUND-PRIMARY-MY-CARD: #0E0006;
  --BACKGROUND-PRIMARY-FRIENDS-CARD: #030F00;

  --BACKGROUND-SECONDARY-RED: #D90403;
  --BACKGROUND-SECONDARY-PINK: #BF2C71;
  --BACKGROUND-SECONDARY-GREEN: #61A54E;
}
