.show-page-background-pink {
  width: 358px;
  height: 194px;
  border-radius: 30px;
  background: #000;
  box-shadow: 10px 8px 0px 0px #BF2C71;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.show-page-background-green {
  width: 358px;
  height: 194px;
  border-radius: 30px;
  background: #000;
  box-shadow: 10px 8px 0px 0px #61A54E;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
